.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.scorebox {
    font-family:'Courier New', Courier, monospace;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 2em;
    align-items: center;
    gap: 5px;
}

.human, .computer {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.human {
    margin-bottom: -5px;
    display: flex;
    gap: 16px;
}

.num {
    margin-left: 2em;
}